.upload-pfp-modal {
    width: 50vw;
    height: 80vh;
    border: none;
    padding: 0;

}

.modal-inner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0% 2%;
    background-color: #424549;
}

.upload-pfp-form-wrapper {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
}

.upload-pfp-form-wrapper h3 {
    color: #dcdcdc;
    margin-right: 15px;
    font-size: 20px;
}

.upload-pfp-form {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.upload-pfp-form label {
    display: inline-block;
    width: 20%;
    font-size: 15px;
    padding: 5px;
    font-family: 'Inter';
    background-color: #7289da;
    cursor: pointer;
    text-align: center;
}

.upload-pfp-form label:hover {
    background-color: #5b6dae;
}

.upload-pfp-form input {
    display: none;
}

.upload-pfp-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}

.img-crop-wrapper {
    position: relative;
    width: 100%;      
    height: 100%;      
    background-color: #36393e;
}

.zoom-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.zoom-slider {
    border-radius: 5%;
    width: 50%;
}

.edit-pfp-options-wrapper {
    display: flex;
    justify-content: end;
}

.edit-pfp-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.edit-pfp-options button {
    width: 40%;
}

.cancel-pfp-button {
    border: none;
    height: 60%;
    background-color: inherit;
    font-family: 'Inter';
    color: #dcdcdc;
}

.apply-pfp-button {
    font-family: 'Inter';
    border: none;
    padding: 10px;
    background-color:#7289da;
    color: white;
}

.apply-pfp-button:hover {
    background-color:  #5b6dae;
}