.profile-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    bottom: 0;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    background-color: transparent;
    width: 20vw;
    height: 10vh;
    color: rgb(255, 240, 240);
}

.profile-bar {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    background-color: #424549;
    padding: 10px;
    border-radius: 10px;
}

.profile-bar p {
    margin: 0;
    font-size: 15px;
}

.profile-pic {
    width: 15%;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.profile-bar img:hover {
    transform: scale(1.1);
}  
