.chatrooms-wrapper {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #282b30;
}

.chatrooms-header {
    display: flex;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}

.new-message-button {
    border: none;
    background-color: inherit;
}

.new-message-icon {
    width: 30px;
    height: 30px;
    fill: #dcdcdc;
}

.new-message-icon:hover {
    transform: scale(1.1);
}

.chatrooms {
    height: 83vh;
    width: 100%;
    padding: 7px;
    font-family: 'Inter';
    background-color: #282b30;
    overflow: scroll;
    scrollbar-width: thin;
}

.chatrooms-title {
    width: 100%;
    color: #dcdcdc;
    font-size: 20px;
    text-align: center;
}

.add-user-modal {
    border: none;
    background-color: #36393e;
}

